.search_logo {
  color: #fff;
  font-weight: 800;
  font-size: 25px;
  font-family: "Unbounded", cursive;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.header__Input {
  width: 100%;
}

.header {
  padding: 15px 5%;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid #303134;
  background: #000;
}
.home__Icon {
  display: none;
}
p {
  text-transform: initial;
}
.searchPage__Results {
  max-width: 700px;
  margin: 20px 10px 100px 200px;
}
.searchPage__ResultsCount {
  font-size: 14px;
  opacity: 0.5;
}
.searchPage__Result {
  margin: 40px 0;
}
h2 {
  color: #8ab4f8;
  font-weight: 400;
}
.searchPage__ResultTitle:hover {
  text-decoration: underline;
}
.searchPage__ResultLink,
.searchPage__ResultSnippet {
  opacity: 0.75;
}
.searchPage__ResultSnippet {
  margin-top: 6px;
}
.footer > footer > p {
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  .search_logo {
    display: none;
  }
  .home__Icon {
    display: block;
    margin-right: 5px;
  }
  .searchPage__Results {
    margin-left: 40px;
  }
}
